html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: Cera Pro;
}

.clear-float::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 100%;
    max-width: 1229px;
    margin: 0 auto;
}

.sidebar {
    width: 310px;
    height: 774px;
    background: #FBFBFB;
    float: left;
}
h2 {
        font-size: 18px;
        font-weight: bold;
        line-height: 16px;
        padding: 14px 0px 7px 18px

}

.sidebar_nav {
    width: 91px;
    height: 360px;
    padding-left: 30px;
}

.sidebar_list {
        font-size: 15px;
        font-weight: normal;
        line-height: 40px;
        text-decoration: none;
        color: #3D3D3D;
}

.sidebar_active_item {
    font-family: Cera Pro;
        font-size: 15px;
        font-weight: bold;
        line-height: 40px;
        color: #46A358;
        text-decoration: none;
}

.sidebar_img {
 float: left;
 margin-top: 377px;
}

main {
 width: calc(100% - 360px);
 float: right;
}

.tabs {
    float: left;
}

.sort {
    float: right;
        margin-top: -13px;
}

.sort_text {
    float: left;
    margin-top: 12px;
}

.sort_choice {

    float: right;
    margin-top: 13px;
}

.main_tabs {
    font-size: 15px;
    font-weight: normal;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    color: #3D3D3D;
    margin: 0px 20px;
}

.main_active_item {
        font-size: 15px;
        font-weight: bold;
        line-height: 16px;
        color: #46A358;
        padding-bottom: 7px;
        border-bottom: 2px solid #46A358;
}

.main_header {
    height: 23px;
}


h3 {

        font-size: 16px;
        font-weight: normal;
        line-height: 16px;
        margin-bottom: 6px;
        color: #3D3D3D;

}

.item_product_price {
        font-size: 18px;
        font-weight: bold;
        line-height: 16px;
        color: #46A358;
}

.product_item_head {
    width: 258px;
    height: 300px;
    background: #FBFBFB;
}

.product_item_body {
    margin-bottom: 70px;
}
.product_item {
    float: left;
    width: 258px;
    height: 350px;
    margin-right: 47px;
    margin-bottom: 12px;
    margin-top: 63px
}

.third_product_item {
    margin-right: 0px;
}

.article_link {
    text-decoration: none;
}


button {
    float: right;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    font-size: 18px;
    font-weight: normal;
    line-height: 16px;
    margin: 90px 5px 0px 5px ;
    cursor: pointer;
}

.active_page {
    background: #46A358;
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    margin-left: 0px;
}
.last_page {
    margin-right: 0px;
}

.article_section {
    padding-top: 27px;
}

.first_line_product_item {
    margin-top: 30px;
}